*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
/* main{
  width: 100vh;
  height:100vh;
} */

#intestazione{
  height:150px;
  background-color: yellow;
}

.container::after{
  content: "";
  display: table;
  clear:both;
}
/* parametri blocchi */
.content1, .content3{
  width:30%;
  height:263px;
  float: left;
  background-color:#cc87da;
  margin:1% 0;
}
.content3{
  float: right;
}

.content2{
  width:36%;
  height:500px;
  float: left;
  background-color:purple;
  margin: 1% 2%;
}
/* parametri piè di pagina */
footer{
  height:100px;
  background-color: lightblue;
}
